<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permiso para conectarse a Firebase, Firestore, Auth, Storage, Maps, etc. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso para usar cámara: fotos de productos, fotos de entrega o QR -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permiso para centralizar ubicación -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Indica que la cámara NO es obligatoria para instalar la app -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Permiso para iniciar instalación de APK descargado fuera de Play Store -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:label="ipulcay"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- API Key de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAng_5rKbmFrETukZZbwgMwfIatm5r8K7c" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>